@font-face {
    font-family: "Raleway";
    src: url(./fonts/Raleway.ttf);
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

.wrapper {
    margin: 0 auto;
    /*padding: 0 10px;*/
}

.header {
    padding: 21px 0px;
    height: 100px;
    background: #E1EDE6;
}

.header__container {
    max-width: 1140px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}

.menu__ul {
    display: flex;
    gap: 68px;
    list-style: none;
    padding: unset;
}

.menu__ul li:nth-child(1){
    display: none;
}

.menu__ul li {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #2C2D35;
}

.menu__ul a {
    text-decoration: none;
    color: #2C2D35;
    transition: 0.5s;
}

.menu__ul a:hover {
    transition: 0.5s;
    color: #598D66;
}

.menu__ul a:focus {
    transition: 0.5s;
    color: #376B44
}

.menu__ul svg {
    stroke: #2C2D35;
    transition: 0.5s;
}

.menu__ul svg:hover {
    transition: 0.5s;
    filter: invert(49%) sepia(19%) saturate(727%) hue-rotate(83deg) brightness(98%) contrast(89%);
}

.menu__ul svg:focus {
    transition: 0.5s;
    filter: invert(36%) sepia(24%) saturate(777%) hue-rotate(83deg) brightness(92%) contrast(91%);
}

.production {
    display: flex;
    justify-content: space-between;
    margin: 0px auto 90px auto;
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
}

.production__block {
    margin: 0px 0px 0px 0px;
}

.production__h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 110%;
    color: #2C2D35;
    margin: 143px 0px 38px 0px;
}

.h1-green {
    color:#598D66;
    margin: 0px 0px 0px 0px;
}

.production__p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    color: #86928B;

    margin: 0px 0px 66px 0px;
}

.production__button {
    cursor: pointer;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #598D66;

    max-width: 227px;
    width: 100%;
    height: 65px;

    border: 1px solid #598D66;
    background-color: #fff;
    transition: 0.5s;

    padding: 21px 60px;
}

.production__button:hover {
    color: white;
    background-color: #598D66;
    transition: 0.5s;
}

.reproduction {
    position: relative;
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 10px;
}

.reproduction__container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.reproduction__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.reproduction__h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    /* identical to box height, or 44px */

    color: #2C2D35;

}

.reproduction__filter {
    display: flex;
    gap: 32px;


}

.reproduction input {
    z-index: 2;
    display: none;
}

#radio-1, #radio-2, #radio-3 {

}

.reproduction__castom-radio {
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    padding: 10px 20px;

    width: 126px;
    height: 43px;

    background-color: #D4E8D9;
    border-radius: 20px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #2C2D35;
}

.reproduction input:checked + .reproduction__castom-radio {
    display: flex;
    background-color: #598D66;
    color: #F4F6F5;
}

.reproduction__grid {
    position: relative;
    display: flex;
    overflow: hidden;

}

.reproduction__grid-1 {
    position: relative;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    scroll-snap-align: start;
}

.cart {
    width: 350px;
    height: 730px;
    padding: 20px 20px 20px 20px;

    background: #E1EDE6;
    align-self: center;
    justify-self: center;
}

.cart__autor {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #86928B;
}

.cart dl {

}

.cart dl dt {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;

    color: #2C2D35;
}

.cart dl dd {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    margin: 0px 0px 0px 0px;

    color: #2C2D35;
}

.cart__price {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #598D66;
}

.cart__button {
    cursor: pointer;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    gap: 6px;

    border: 1px solid #598D66;

    /* Продукция */

    width: 97px;
    height: 23px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #598D66;

    width: 310px;
    height: 65px;
    background-color: rgba(255, 0, 0, 0);
    transition: 0.5s;
}

.cart__button:hover {
    background-color: #598D66;
    color: #F4F6F5;
    transition: 0.5s;
}

.new-collection {
    background-repeat: no-repeat;
    background-image: url(./media/new-collection-background.png);
    background-position: center;
    margin-top: 70px;
    
}

.new-collection__container {    
    max-width: 1140px;
    width: 100%;
    padding: 70px 15px;
    margin: 0 auto;
}

.new-collection__block {
    max-width: 525px;
}

.new-collection__header {
    display: flex;
    flex-direction: row;
}

.new-collection__title {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    /* or 40px */

    color: #F4F6F5;

    margin: 0px 0px 0px 25px;
}

.new-collection p {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    color: #FFFFFF;
}

.new-collection__button {
    cursor: pointer;
    max-width: 257px;
    width: 100%;
    height: 65px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    gap: 6px;

    background: #EEDB6D;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #2C2D35;

    border-width: 0px;
    transition: 0.5s;
}

.new-collection__button:hover{
    transition: 0.5s;
    background-color: rgb(250, 235, 151);
    border: 1px solid rgb(163, 131, 20);
}


.team {
    display: flex;
    max-width: 1140px;
    width: 100%;
    margin: 70px auto 0px auto;
    justify-content: space-between;
    padding: 0 15px;
}

.team__creative-photo {
    width: 440px;
    height: 445px;
}

.team__block {
    max-width: 635px;

    margin: 125px 0px 0px 30px;
}

.team__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    /* identical to box height, or 44px */

    color: #2C2D35;

    margin: 0px 0px 0px 0px;
    }

.team p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    color: #2C2D35;
}

.team__icons {
    display: flex;
    gap: 30px;
}

.team__icon img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.footer {
    background-color: #D4E8D9;
    margin: 70px 0px 0px 0px;
}


.footer a {
    cursor: pointer;
    text-decoration: none;
}

.footer__container {
    max-width: 1460px;
    padding: 25px 10px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
}

.footer__left{

}

.footer__logo-block dt a {
    color: #2C2D35
}

.footer__logo {
    margin: 0px 0px 35px 0px;
}

.footer__logo-block dl {
    margin: 0px 0px 0px 0px;
}

.footer__logo-block dt {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #2C2D35;

    white-space: nowrap;
}

.footer__logo-block dd {
    margin: 5px 0px 0px 0px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    color: #86928B;
}

.footer__right{
    display: flex;
    margin: 0px 0px 0px 115px;
}

.footer__info-block{
    display: flex;
    gap: 57px;
}

.footer__info-block dl {
    margin: 0px 0px 0px 0px;
}

.footer__info-block dt {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #2C2D35;
}

.footer__info-block dd {
    margin: 5px 0px 0px 0px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    color: #86928B;
}

.footer__links-block {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 230px;
}

.footer__links svg {
    transition: 0.5s;
}

.footer__links svg:hover {
    transition: 0.5s;
    filter: invert(49%) sepia(19%) saturate(727%) hue-rotate(83deg) brightness(98%) contrast(89%);

}

.footer__links ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 35px;
}

.footer__rights ul {
    list-style: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */

    color: #86928B;
}

@media (max-width:1200px) {
    .reproduction__grid-1 {
        grid-template-columns: 1fr 1fr;
    }

    .footer__links-block {
        margin: 0px 0px 0px 10vw;
    }
}

@media (max-width:1100px) {
    .production__img {
        width: 45vw;
        height: 54vw;
    }

    .footer__container {
        flex-direction: column;
        padding-left: 35px;
        padding-right: 35px;
    }

    .footer__logo-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 0px 0px 0px;
    }

    .footer__right {
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 0px 0px;
    }

    .footer__links-block {
        margin: 0px 0px 0px 0px;
    }
}

@media (max-width:750px) {
    .production__h1 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 100%;
        /* or 40px */

        color: #2C2D35;

        margin: 40px 0px 33px 0px;
    }

    .production__p {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        /* or 27px */

        color: #86928B;

        margin: 0px 0px 72px 0px;
    }

    .production__button {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;

        color: #598D66;

        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 60px;
        gap: 6px;
    }

    .reproduction__h2 {
        font-size: 30px;
    }

    .reproduction__castom-radio {
        font-size: 20px;
    }

    .cart {

        width: 240px;
        height: 514px;
        
    }

    .cart__img {
        width: 200px;
        height: 250px;
    }

    .cart__autor {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    .cart dl dt {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }

    .cart dl dd {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    .cart__price {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
    }

    .cart__button{
        width: 200px ;
        height: 50px;
        font-size: 16px;
    }

    .new-collection {
        background-image: linear-gradient(rgba(0, 0, 0, 0.301), rgba(115, 115, 115, 0.012)), 
                          url(./media/new-collection-690-background-before.png), 
                          url(./media/new-collection-690-background.png);
   
        padding: 0px 0px 0px 0px;
     
    }

    .new-collection__block {
        padding: 0px 0px 0px 0px;
        max-width: 680px;
    }

    .new-collection__logo {
        width: 60px;
        height: 60px;
    }

    .new-collection__title {
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 100%;
    }

    .new-collection p {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
    }

    .new-collection__button {
        width: 210px;
        height: 60px;
    }


    .team {
        display: flex;
        flex-wrap: wrap;
    }

    .team__block {
        margin-top: 25px;
    }
}




@media (max-width:690px) {
    .menu__ul li{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;

        color: #2C2D35;
    }
}

@media (max-width:675px) {

    .header {
        height: 140px;
        padding: 0px 0px 0px 0px;
    }

    .header__container {
        flex-direction: column;
    }

    .logo {
        padding: 16px 0px 16px 0px;
    }

    .menu__ul {
        border-top: 1px solid #86928B;
        padding: 20px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

    .production__h1 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 100%;
        /* or 36px */

        color: #2C2D35;

        margin: 55px 0px 22px 0px;
    }

    .production__p {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        /* or 24px */

        color: #86928B;

        margin: 0px 0px 15px 0px;
    }

    .production__button {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;

        color: #598D66;
    }

    .reproduction__header {
        margin: 0px 0px 20px 0px;
    }

    .footer__right {
        flex-wrap: wrap;
    }

    .footer__info-block {
        margin: 0px 0px 20px 0px 
    }

    .footer__links-block {
        border-top: 1px solid #86928B;
        width: 1440px;
    }

    .footer__links {
        display: flex;
        justify-content: center;
        padding: 0px 0px 0px 0px;
    }

    .footer__links ul {
        padding: 0px 0px 0px 0px;
    }

    .footer__rights {
        display: flex;
        justify-content: center;
        padding: 0px 0px 0px 0px;
    }
    
    .footer__rights ul {
        padding: 0px 0px 0px 0px;
        display: flex;
    }
    
  


    
}

@media (max-width: 533px) {
    
    .production {
        margin: 0px 0px 50px 0px;
    }

    .logo {
        background-color: #fff;
        padding: 15px 100vw 15px 100vw;
    }

    .menu__ul {
        gap: 75vw;
        justify-content: space-between;
        border: none;
        padding: 20px 20px;
    }

    .menu__ul li:nth-child(1){
        display: block;
        padding: 5px 0px 0px 0px;
    }

    .menu__ul li:nth-child(2), 
    .menu__ul li:nth-child(3),
    .menu__ul li:nth-child(4) {
        display: none;
    }

    .production__img {
        display: none;
    }

    .production__h1 {
        

        margin: 65px 0px 29px 0px;
    }

    .production__p {
        

        margin: 0px 0px 43px 0px;
    }

    .production__button {
    }

    .reproduction__filter {
        overflow-x: scroll;
    }

    .reproduction__grid-1 {
        grid-template-columns: 1fr;
    }
    
    .new-collection__title {
        font-size: 24px;
    }

    .new-collection p {
        font-size: 16px;
    }

    .new-collection__button {
        font-size: 18px;
    }

    .team__creative-photo {
        width: 290px;
        height: 286px;
    }

    .team__title {
        font-size: 24px;
    }

    .team p {
        font-size: 16px;
    }

    .footer {

    }

    .footer__logo-block {
        flex-wrap: wrap;
    }

    .footer__info-block {
        flex-wrap: wrap;
        margin: 20px 0px 20px 0px;
    }
}

@media (max-width: 410px) {
    .new-collection__block {
        padding: 50px 0px 50px 20px
    }

    .new-collection__title {
        font-size: 22px;
    }

    .new-collection p {
        font-size: 14px;
    }

    .new-collection__button {
        font-size: 16px;
        width: 85vw;
    }
}