@font-face {
    font-family: "Raleway";
    src: url(./fonts/Raleway.ttf);
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.wrapper {
    margin: 0 auto;
    /*padding: 0 10px;*/

}

.header {
    padding: 21px 0px;
    height: 100px;
    background: #E1EDE6;
}

.header__container {
    max-width: 1140px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}

.menu__ul {
    display: flex;
    gap: 68px;
    list-style: none;
    padding: unset;
}

.menu__ul li {
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;

color: #2C2D35;
}

.menu__ul a {
    text-decoration: none;
    color: #2C2D35;
    transition: 0.5s;
}

.menu__ul a:hover {
    transition: 0.5s;
    color: #598D66;
}

.menu__ul svg {
    stroke: #2C2D35;
    transition: 0.5s;
}

.menu__ul svg:hover {
    transition: 0.5s;
    filter: invert(49%) sepia(19%) saturate(727%) hue-rotate(83deg) brightness(98%) contrast(89%);
}

.production {
    display: flex;
    justify-content: center;
}

.production__block {
    margin: 0px 0px 0px 36px;
}

.h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 110%;
    color: #2C2D35;
    margin: 143px 0px 38px 0px;
}

.h1-green {
    color:#598D66;
    margin: 0px 0px 0px 0px;
}

.production__p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    color: #86928B;

    margin: 0px 0px 66px 0px;
}

.production__button {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #598D66;

    width: 227px;
    height: 65px;

    border: 1px solid #598D66;
    background-color: #fff;
    transition: 0.5s;
}

.production__button:hover {
    color: white;
    background-color: #598D66;
    transition: 0.5s;
}