@font-face {
    font-family: "Raleway";
    src: url(./fonts/Raleway.ttf);
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.wrapper {
    margin: 0 auto;
    /*padding: 0 10px;*/

}

.header {
    padding: 21px 0px;
    height: 100px;
    background: #E1EDE6;
}

.header__container {
    max-width: 1140px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}

.menu__ul {
    display: flex;
    gap: 68px;
    list-style: none;
    padding: unset;
}

.menu__ul li:nth-child(1){
    display: none;
}

.menu__ul li {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #2C2D35;
}

.menu__ul a {
    text-decoration: none;
    color: #2C2D35;
    transition: 0.5s;
}

.menu__ul a:hover {
    transition: 0.5s;
    color: #598D66;
}

.menu__ul svg {
    stroke: #2C2D35;
    transition: 0.5s;
}

.menu__ul svg:hover {
    transition: 0.5s;
    filter: invert(49%) sepia(19%) saturate(727%) hue-rotate(83deg) brightness(98%) contrast(89%);
}

.production {
    display: flex;
    justify-content: center;
}

.production__block {
    margin: 0px 0px 0px 36px;
}

.production__h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 110%;
    color: #2C2D35;
    margin: 143px 0px 38px 0px;
}

.h1-green {
    color:#598D66;
    margin: 0px 0px 0px 0px;
}

.production__p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    color: #86928B;

    margin: 0px 0px 66px 0px;
}

.production__button {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #598D66;

    width: 227px;
    height: 65px;

    border: 1px solid #598D66;
    background-color: #fff;
    transition: 0.5s;
}

.production__button:hover {
    color: white;
    background-color: #598D66;
    transition: 0.5s;
}

.reproduction__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.reproduction__h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    /* identical to box height, or 44px */

    color: #2C2D35;

}

.reproduction__filter {
    display: flex;

}

.reproduction input {
    z-index: 2;
}

.reproduction__castom-radio {
    cursor: pointer;
    padding: 10px 20px;

    width: 126px;
    height: 43px;

    background-color: #D4E8D9;
    border-radius: 20px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #F4F6F5;
}

.reproduction__castom-radio::before {
    content: '';
    cursor: pointer;
    padding: 10px 20px;

    width: 126px;
    height: 43px;

    background-color: #11db43;
    border-radius: 20px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #F4F6F5;
}

@media (max-width:1100px) {
    .production__img {
        width: 45vw;
        height: 54vw;
    }
}

@media (max-width:750px) {
    .production__h1 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 100%;
        /* or 40px */

        color: #2C2D35;

        margin: 40px 0px 33px 0px;
    }

    .production__p {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        /* or 27px */

        color: #86928B;

        margin: 0px 0px 72px 0px;
    }

    .production__button {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;

        color: #598D66;

        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 60px;
        gap: 6px;
    }
}




@media (max-width:690px) {
    .menu__ul li{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;

        color: #2C2D35;
    }
}

@media (max-width:675px) {

    .header {
        height: 140px;
        padding: 0px 0px 0px 0px;
    }

    .header__container {
        flex-direction: column;
    }

    .logo {
        padding: 16px 0px 16px 0px;
    }

    .menu__ul {
        border-top: 1px solid #86928B;
        padding: 20px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }

    .production__h1 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 100%;
        /* or 36px */

        color: #2C2D35;

        margin: 55px 0px 22px 0px;
    }

    .production__p {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        /* or 24px */

        color: #86928B;

        margin: 0px 0px 15px 0px;
    }

    .production__button {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;

        color: #598D66;
    }
    
}

@media (max-width: 533px) {
    
    .logo {
        background-color: #fff;
        padding: 15px 100vw 15px 100vw;
    }

    .menu__ul {
        gap: 75vw;
        justify-content: space-between;
        border: none;
        padding: 20px 20px;
    }

    .menu__ul li:nth-child(1){
        display: block;
        padding: 5px 0px 0px 0px;
    }

    .menu__ul li:nth-child(2), 
    .menu__ul li:nth-child(3),
    .menu__ul li:nth-child(4) {
        display: none;
    }

    .production__img {
        display: none;
    }

    .production__h1 {
        

        margin: 65px 0px 29px 0px;
    }

    .production__p {
        

        margin: 0px 0px 43px 0px;
    }

    .production__button {
    }
    
}